:root {
    --blue: #6495ed;
    --white: #faf0e6;
    --small-text:13px; 
  }
  
  body {
    background-color: var(--blue);
  }
  
  h2 {
    border-bottom: 2px solid var(--blue);
  }
  


  .container {
      --big:42px;
    color: var(--blue);
    background-color: var(--white);
    padding: 15px;
  }
  
  .local-variable{
  
      font-size:var(--big)
  
  }

  .global-variable{
      font-size: var(--small-text);
  }
  
  button {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 5px;
  }